# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/
.env/
.env*

# macOS
.DS_Store

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# Test output
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/